In [16]:
from sqlalchemy import create_engine
from sqlalchemy.sql import text
import sqlalchemy
import pandas as pd   
import numpy as np

    
engine = create_engine('postgresql://postgres:Rasengan2003!@localhost:5432/ProjetoBD')

# Test the connection
connection = engine.connect() 
print("Connected successfully!")

Connected successfully!

In [17]:
query = text("SELECT * FROM cliente")
result = connection.execute(query)

In [18]:
table = pd.DataFrame(columns = result.keys(), data = result.fetchall())

In [27]:
table

,id_cliente,cpf,rg,nome_cliente,email
0,0,16647582145,1567562564,Victor Pepe,vpepe@usp.br ...
1,1,45612385294,3256589652,Marcelo Takayama,marcelo.takayama@usp.br ...
2,2,95175385264,8596584785,Helena Moyen,hmoyen@usp.br ...
3,3,95165498789,2563256341,Mariana Watanabe,marimari@usp.br ...
4,4,32165298569,2051457859,Thainara Assis,naraassis@usp.br ...
5,5,12345678901,1234567890,Ana Silva,ana@usp.br ...
6,6,98765432102,9876543210,Pedro Santos,ps@usp.br ...
7,7,24681357903,2468135790,Maria Oliveira,maria.ol@usp.br ...
8,8,52225555504,5555552145,Jo達o Souza,jsouza@usp.br ...
9,9,98712365405,9871236540,Camila Costa,camila@usp.br ...
10,10,85923382544,1502814201,Jo達o Carvalho,jcarvalho@usp.br ...

In [1]:
import json   
with open('consultas.json') as file:
    data = json.load(file)

In [7]:
tuple_data = tuple(data.items())
print(tuple_data)

(('CONSULTA 1: TODOS OS CLIENTES QUE PAGARAM NO PIX, NOME DO PRODUTO E DATA', "SELECT nome_cliente, p.nome_produto, pedidos.data_pedido FROM cliente c JOIN pedidos ON c. id_cliente = pedidos.id_cliente JOIN item_pedido ip ON pedidos.id_pedido = ip.id_pedido JOIN produtos p ON ip.id_produto = p.id_produto WHERE pedidos.modo_pagamento = 'pix' ORDER BY data_pedido;"), ('CONSULTA 2: MOSTRANDO PRODUTOS QUE MAIS VENDERAM', 'SELECT p.nome_produto, SUM(ip.quantidade*p.preco) AS valor_vendido FROM produtos AS p INNER JOIN item_pedido AS ip ON ip.id_produto = p.id_produto GROUP BY p.nome_produto ORDER BY valor_vendido DESC;'))

In [12]:
data.items()

TypeError: 'dict_items' object is not subscriptable

In [15]:
tuple(data.keys())

('CONSULTA 1: TODOS OS CLIENTES QUE PAGARAM NO PIX, NOME DO PRODUTO E DATA',
 'CONSULTA 2: MOSTRANDO PRODUTOS QUE MAIS VENDERAM')